<div class="widget-header">
    <h3>{{title}}</h3>
</div>
<div class="widget-body">
    <table class="table">
        <thead>
            <tr>
                <th class="icon">No.</th>
                <th style="width: 300px;">Type</th>
                <th>Current document</th>
                <th style="width: 100px;">Created on</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#documentType of documentTypes" >
                <td>{{documentType.numberOfDocuments}}</td>
                <td>{{documentType.name}} </td>
                <td>{{documentType.latestDocumentName}}</td>
                <td>{{documentType.latestDocumentCreatedDate|date}}</td>               
            </tr>
        </tbody>
    </table>
</div>